.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 10px 40px; 
  border-bottom: #5C3A33 solid 18px;
}


.navbar-left {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
  margin-right: 15px; 
  object-fit: cover;
}

.logo-text {
  font-size: 1.5rem; 
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-left: 45px; /* Aumenta o espaçamento entre os ícones (antes era 20px) */
}

.nav-icon-img {
  /* Tamanho das imagens dos ícones aumentado */
  width: 32px; /* Antes era 24px */
  height: 32px; /* Antes era 24px */
  display: block;
  cursor: pointer;
}

/* Efeito de hover nas imagens dos ícones, se desejar */
.nav-icon-img:hover {
  opacity: 0.7;
}