$brown-color: #5C3A33;
$brown-color-white: #664039;
$black-color: #1a1a1a;
$gray-color: #bdc3c7;
$background-color: #F8F5EE;
$text-color-black: #333;
$text-color-white: #f8f8f8;
$error-color: #b32323;
$success-color: #2d8031;
$transition: 0.3s ease-in-out;

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif; 
  color: var(--text-color-black);
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: lighten($background-color, 4%);
}

::-webkit-scrollbar-thumb {
  background: $brown-color;
  border-radius: 10px;
  border: 2px solid lighten($background-color, 5%);
  transition: background $transition;
}

::-webkit-scrollbar-thumb:hover {
  background: $brown-color-white;
}

h1, h2, h3 {
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #eeebeb;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

#app {
  background-color: $background-color;
  height: 100vh;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;    
  }
}