.success-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease forwards;
}

.popup-content {
  background: #ffffff;
  padding: 25px;
  border-radius: 18px;
  max-width: 350px;
  text-align: center;
  animation: scaleIn 0.3s ease forwards;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
}

.popup-icon {
  width: 70px;
  margin-bottom: 10px;
}

.popup-button {
  margin-top: 15px;
  background: #050505;
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.popup-button:hover {
  transform: scale(1.05);
  background: #000000;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.85); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}